@import "./variables.css";

:root,
body {
  box-sizing: border-box;
  overflow: hidden;
  font-family: var(--ptc-fontFamilySerif);
  font-size:100%;

  background-color: var(--ptc-mainBackgroundColor);
  color: var(--ptc-mainForegroundColor);
  overflow: auto;
}