:root {
  --ptc-mainBackgroundColor: rgb(255, 255, 255);
  --ptc-mainForegroundColor: rgb(0, 0, 0);
  --ptc-secondaryBackgroundColor: rgb(255, 255, 255);
  --ptc-orange: rgb(244, 120, 37);
  --ptc-lightOrange: rgb(255, 173, 92);
  --ptc-gray: #949494;
  --ptc-secondaryBackgroundColor: var(--ptc-orange);
  --ptc-mainHoverColor: var(--ptc-orange);
  --ptc-mainColor: var(--ptc-orange);
  --ptc-mainShadowColor: rgba(0, 0, 0, 0.2);
  --ptc-disableBackgroundColor: rgba(0, 0, 0, 0.15);
  --ptc-disableForegroundColor: #949494;
  --ptc-popperBorderColor: rgba(0, 0, 0, 0.3);
  --ptc-notificationBorderColor: rgba(255, 255, 255, 0.5);
  --ptc-notificationOrange: rgb(242, 105, 13);
  --ptc-notificationSecondaryOrange: rgb(243, 130, 54);
  --ptc-mainFieldsetColor: var(--ptc-orange);
  --ptc-selectBackgroundColor: #fff;
  --ptc-fontFamilySerif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --ptc-fontFamilyMonospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New",
    monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --ptc-mainBackgroundColor: rgb(34, 34, 34);
    --ptc-secondaryBackgroundColor: rgb(40, 40, 40);
    --ptc-mainForegroundColor: rgb(255, 255, 255);
    --ptc-mainShadowColor: rgba(255, 255, 255, 0.2);
    --ptc-disableBackgroundColor: rgba(255, 255, 255, 0.15);
    --ptc-disableForegroundColor: #c6c6c6;
    --ptc-popperBorderColor: rgba(255, 255, 255, 0.3);
    --ptc-notificationBorderColor: rgba(34, 34, 34, 0.5);
    --ptc-selectBackgroundColor: rgb(48, 54, 61);
    --ptc-mainFieldsetColor: var(--ptc-lightOrange);
    --ptc-mainHoverColor: var(--ptc-lightOrange);
    --ptc-gray: #c6c6c6;
  }
}