<template>
  <FieldsetBase :legend="fieldsetLegend">
    <RedirectorPicker />
    <RedirectorInstancePicker />
  </FieldsetBase>
</template>

<script lang="ts">
import { defineComponent } from "vue"
import RedirectorInstancePicker from "./RedirectorInstancePicker.vue"
import RedirectorPicker from "./RedirectorPicker.vue"
import FieldsetBase from "./models/FieldsetBase.vue"
import Browser from "webextension-polyfill"

export default defineComponent({
  components: {
    RedirectorInstancePicker,
    RedirectorPicker,
    FieldsetBase,
  },
  data() {
    return {
      fieldsetLegend: Browser.i18n.getMessage("fieldsetRedirectorLegend"),
    }
  },
})
</script>
