<template>
  <FieldsetBase :legend="fieldsetLegend">
    <div class="containerCache">
      <CacheClearButton />
      <SettingsResetButton />
    </div>
  </FieldsetBase>
</template>

<script lang="ts">
import { defineComponent } from "vue"
import FieldsetBase from "./models/FieldsetBase.vue"
import CacheClearButton from "./CacheClearButton.vue"
import SettingsResetButton from "./SettingsResetButton.vue"
import Browser from "webextension-polyfill"

export default defineComponent({
  components: {
    FieldsetBase,
    CacheClearButton,
    SettingsResetButton,
  },
  data() {
    return {
      fieldsetLegend: Browser.i18n.getMessage("fieldsetResetLegend"),
    }
  },
})
</script>

<style scoped>
.containerCache {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  place-content: stretch space-around;
  flex-basis: content;
}
</style>
