<template>
  <div id="ptc-notification-container">
    <div id="ptc-notification-sepia-search"></div>
    <button :title="closeTitle" type="button" class="ptc-notification-close" @click="close()">
      x
    </button>
    <a id="ptc-notification-watch">{{ watchText }}</a>
    <div id="ptc-notification-sepia-running"></div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue"
import Browser from "webextension-polyfill"

export default defineComponent({
  data() {
    return {
      closeTitle: Browser.i18n.getMessage("closeButton"),
      watchText: Browser.i18n.getMessage("watchOnPeertubeButton"),
      watchUrl: document.getElementById("ptc-notification-container")?.dataset.redirectionUrl,
    }
  },
  mounted() {
    document
      .getElementById("ptc-notification-sepia-running")
      ?.addEventListener("animationend", (event) => {
        if (event.animationName.includes("running")) {
          hideNotification()
        }
      })
  },
  methods: {
    close() {
      hideNotification()
    },
  },
})

const hideNotification = () => {
  const notification = document.getElementById("ptc-notification-container")

  if (notification) {
    notification.style.display = "none"
  }
}
</script>
<style scoped>
@import "../assets/css/variables.css";

@media screen and (max-width: 500px) {
  #ptc-notification-container {
    width: calc(100% - 2em);
    height: 25vh;

    position: fixed;
    bottom: 0;
  }
}

@media screen and (min-width: 500px) {
  #ptc-notification-container {
    width: 30em;
    height: 12em;

    bottom: 1em;
    right: 1em;
    position: fixed;
  }
}

#ptc-notification-container {
  font-size: 10px;
  font-weight: 700;
  font-family: var(--ptc-fontFamilySerif);
  color: var(--ptc-mainForegroundColor);
  background: var(--ptc-mainBackgroundColor);

  box-shadow: -0.2em 0.2em 0.5em var(--ptc-mainShadowColor);
  z-index: 999999999;

  display: none;
  flex-direction: column;
  align-items: center;

  padding: 1em;
}

#ptc-notification-sepia-running {
  font-weight: normal;
  height: 5em;
  width: 100%;
  background-image: url("../assets/icons/sepia-happy.svg");
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 0.5em;
  animation: 10s running forwards linear;
}

@keyframes running {
  from {
    background-position: left;
  }

  to {
    background-position: right;
  }
}

#ptc-notification-sepia-search {
  height: 7.5em;
  width: 100%;
  position: relative;
  bottom: -0.2em;
  background-image: url("../assets/icons/sepia-search.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.ptc-notification-close {
  all: unset;
  position: absolute;
  top: 0.1em;
  right: 0.5em;
  font-size: 2em;
  font-weight: 900;
  color: var(--ptc-notificationOrange);
  background: var(--ptc-mainBackgroundColor);
  cursor: pointer;
}

.ptc-notification-close:hover {
  color: var(--ptc-notificationSecondaryOrange);
}

#ptc-notification-watch {
  font-weight: 900;
  font-size: 2em;
  height: 2em;
  line-height: 2em;
  text-decoration: none;
  text-align: center;
  vertical-align: center;
  padding: 0.25em;
  background: var(--ptc-notificationOrange);
  color: #fff;
  border-radius: 0.6em;
  text-align: center;
  border: 0.2em solid var(--ptc-notificationOrange);
}

#ptc-notification-watch:hover {
  background: var(--ptc-notificationSecondaryOrange);
  border-color: var(--ptc-notificationSecondaryOrange);
}

a:hover {
  color: white !important;
}
</style>
