<template>
  <div class="container">
    <div class="containerSettings">
      <SettingsButton />
    </div>
    <div class="containerHeader">
      <MainHeader />
    </div>
  </div>
</template>

<script lang="ts">
import MainHeader from "./MainHeader.vue"
import SettingsButton from "./SettingsButton.vue"
import { defineComponent } from "vue"
import * as Settings from "../lib/settings"
import { appState } from "../sharedReactives"
import { error } from "../lib/utils"

export default defineComponent({
  components: {
    MainHeader,
    SettingsButton,
  },
  data() {
    return {
      appState,
    }
  },
  async mounted() {
    const loadSettingsResult = await Settings.load()

    if (loadSettingsResult.ok) {
      appState.settings = loadSettingsResult.val
    } else {
      error(loadSettingsResult.val)
    }
  },
})
</script>

<style scoped>
@import "../assets/css/global.css";
@import "../assets/css/variables.css";

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  margin-bottom: 0.625rem;
}

.containerSettings {
  margin-left: auto;
  margin-bottom: 0;
}

.containerSettings:hover {
  cursor: pointer;
  color: var(--ptc-mainHoverColor);
}
</style>
