<template>
  <div :class="[{ disable: !appState.settings.app.isEnabled }, 'flexContainer']">
    <ElementLabel for-id="preferredPeertubeToggle" :value="label" :help-content="helpContent" />
    <ToggleButton
      id="preferredPeertubeToggle"
      :is-checked="appState.settings.redirection.rules.toPreferredPeertube.isEnabled"
      @click="togglePreferred"
    />
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue"
import Browser from "webextension-polyfill"
import ToggleButton from "./models/ToggleButton.vue"
import { appState } from "../sharedReactives"
import * as Settings from "../lib/settings"
import ElementLabel from "./models/ElementLabel.vue"
import { error } from "../lib/utils"

export default defineComponent({
  components: { ToggleButton, ElementLabel },
  data() {
    return {
      appState,
      label: Browser.i18n.getMessage("preferredPeertubeToggleLabel"),
      helpContent: Browser.i18n.getMessage("preferredPeertubeToggleHelp"),
    }
  },
  methods: {
    /**
     * @summary Toggle on/off the app
     */
    async togglePreferred() {
      const toggleResult = await Settings.set(
        "redirection.rules.toPreferredPeertube.isEnabled",
        !appState.settings.redirection.rules.toPreferredPeertube.isEnabled,
      )

      appState.settings.redirection.rules.toPreferredPeertube.isEnabled =
        !appState.settings.redirection.rules.toPreferredPeertube.isEnabled

      if (toggleResult.err) {
        error(toggleResult.val)
      }
    },
  },
})
</script>
<style scoped>
.flexContainer {
  display: flex;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  flex-flow: wrap;
}

.flexContainer.disable {
  color: var(--ptc-disableForegroundColor);
}
</style>
