<template>
  <div :class="[{ disable: !appState.settings.app.isEnabled }, 'flexContainer']">
    <ElementLabel
      :value="redirectorPickerLabel"
      :help-content="redirectorPickerHelp"
      for-id="redirectorPickerContainer"
    />
    <div id="redirectorPickerContainer" :class="[{ disable: !appState.settings.app.isEnabled }]">
      <span v-for="(value, key) in redirectors" :key="key">
        <label :for="`${value}-type`">
          <input
            :id="`${value}-type`"
            :class="{ disable: !appState.settings.app.isEnabled }"
            type="radio"
            name="redirector"
            :checked="appState.settings.redirector.selected === key"
            :value="key"
            autocomplete="off"
            @change="onChange($event)"
          />
          <div :class="[{ disable: !appState.settings.app.isEnabled }, 'box']">
            {{ value }}
          </div>
        </label>
      </span>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue"
import { appState } from "../sharedReactives"
import * as Settings from "../lib/settings"
import ElementLabel from "./models/ElementLabel.vue"
import Browser from "webextension-polyfill"
import { error } from "../lib/utils"
import { REDIRECTOR } from "../lib/enums/redirector"

export default defineComponent({
  components: { ElementLabel },
  data() {
    return {
      appState,
      redirectors: Object.values(REDIRECTOR).filter((t) => !Number.isInteger(t)),
      redirectorPickerHelp: Browser.i18n.getMessage("redirectorPickerHelp"),
      redirectorPickerLabel: Browser.i18n.getMessage("redirectorPicker"),
    }
  },
  methods: {
    async onChange(event) {
      const saveResult = await Settings.set("redirector.selected", +event.target.value)

      appState.settings.redirector.selected = +event.target.value
      if (saveResult.err) {
        error(saveResult.val)
      }
    },
    async updateAppState() {
      const getResult = await Settings.get("redirector.selected")

      if (getResult.ok) {
        appState.settings.redirector.selected = getResult.val
      } else {
        error(getResult.val)
      }
    },
  },
})
</script>

<style scoped>
@import "../assets/css/variables.css";

.flexContainer {
  display: flex;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  flex-flow: wrap;
}

.flexContainer.disable {
  color: var(--ptc-disableForegroundColor);
}

#redirectorPickerContainer {
  display: flex;
  padding: 0;
  border: 0.0625rem solid var(--ptc-gray);
  border-radius: 0.1875rem;
  line-height: 1.5;
  background-color: var(--ptc-mainBackgroundColor);
}

#redirectorPickerContainer.disable {
  border-color: var(--ptc-popperBorderColor);
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + .box {
  background-color: var(--ptc-mainHoverColor);
  color: #000;
}

input[type="radio"]:checked + .box.disable {
  filter: grayscale(1);
}

.box {
  text-align: center;
  color: var(--ptc-mainForegroundColor);
  font-weight: 600;
  padding: 0 0.75rem;
  cursor: pointer;
}

.box:active {
  background-color: var(--ptc-mainHoverColor);
}

.box:not(:first-child) {
  border-left: 0.0625rem solid var(--ptc-popperBorderColor);
}

.box.disable {
  cursor: default;
  background-color: var(--ptc-disableBackgroundColor);
  color: var(--ptc-gray);
}
</style>
