<template>
  <div :class="[{ disable: !appState.settings.app.isEnabled }, 'flexContainer']">
    <ElementLabel
      :value="redirectionModePickerLabel"
      :help-content="redirectionModePickerHelp"
      for-id="redirectionModePickerContainer"
    />
    <div
      id="redirectionModePickerContainer"
      :class="[{ disable: !appState.settings.app.isEnabled }]"
    >
      <span v-for="(value, key) in modes" :key="key">
        <label :for="`${value}-type`">
          <input
            :id="`${value}-type`"
            :class="{ disable: !appState.settings.app.isEnabled }"
            type="radio"
            name="mode"
            :checked="appState.settings.redirection.mode === key"
            :value="key"
            autocomplete="off"
            @change="onChange($event)"
          />
          <div :class="[{ disable: !appState.settings.app.isEnabled }, 'box']">
            {{ i18n.getMessage("redirectionModePickerValue" + value) }}
          </div>
        </label>
      </span>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue"
import { appState } from "../sharedReactives"
import * as Settings from "../lib/settings"
import ElementLabel from "./models/ElementLabel.vue"
import Browser from "webextension-polyfill"
import { error, sendMessageToRuntime } from "../lib/utils"
import { REDIRECTION_MODE } from "../lib/enums/redirection-mode"
import { BROWSER_MESSAGE } from "../lib/enums/browser-message"

export default defineComponent({
  components: { ElementLabel },
  data() {
    return {
      appState,
      modes: Object.values(REDIRECTION_MODE).filter((t) => !Number.isInteger(t)),
      redirectionModePickerHelp: Browser.i18n.getMessage("redirectionModePickerHelp"),
      redirectionModePickerLabel: Browser.i18n.getMessage("redirectionModePickerLabel"),
      i18n: Browser.i18n,
    }
  },
  methods: {
    async onChange(event) {
      const saveResult = await Settings.set("redirection.mode", +event.target.value)

      appState.settings.redirection.mode = +event.target.value

      if (appState.settings.redirection.mode === REDIRECTION_MODE.AUTOMATIC) {
        sendMessageToRuntime(BROWSER_MESSAGE.BACKGROUND_REDIRECTION_ENABLE)
      } else {
        sendMessageToRuntime(BROWSER_MESSAGE.BACKGROUND_REDIRECTION_DISABLE)
      }

      if (saveResult.err) {
        error(saveResult.val)
      }
    },
    async updateAppState() {
      const getResult = await Settings.get("redirection.mode")

      if (getResult.ok) {
        appState.settings.redirection.mode = getResult.val
      } else {
        error(getResult.val)
      }
    },
  },
})
</script>

<style scoped>
@import "../assets/css/variables.css";

.flexContainer {
  display: flex;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  flex-flow: wrap;
}

.flexContainer.disable {
  color: var(--ptc-disableForegroundColor);
}

#redirectionModePickerContainer {
  display: flex;
  padding: 0;
  border: 0.0625rem solid var(--ptc-gray);
  border-radius: 0.1875rem;
  line-height: 1.5;
  background-color: var(--ptc-mainBackgroundColor);
}

#redirectionModePickerContainer.disable {
  border-color: var(--ptc-popperBorderColor);
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + .box {
  background-color: var(--ptc-mainHoverColor);
  color: #000;
}

input[type="radio"]:checked + .box.disable {
  filter: grayscale(1);
}

.box {
  text-align: center;
  color: var(--ptc-mainForegroundColor);
  font-weight: 600;
  padding: 0 0.75rem;
  cursor: pointer;
}

.box:active {
  background-color: var(--ptc-mainHoverColor);
}

.box:not(:first-child) {
  border-left: 0.0625rem solid var(--ptc-popperBorderColor);
}

.box.disable {
  cursor: default;
  background-color: var(--ptc-disableBackgroundColor);
  color: var(--ptc-gray);
}
</style>
