<template>
  <div
    :title="toggleTitle()"
    :class="[{ grayscale: !appState.settings.app.isEnabled }, 'sepia']"
    @click="toggleApp"
  />
</template>

<script lang="ts">
import * as App from "../lib/app"
import { defineComponent } from "vue"
import Browser from "webextension-polyfill"
import { appState } from "../sharedReactives"
import { error } from "../lib/utils"

export default defineComponent({
  data() {
    return {
      appState,
      isGray: false,
      sepiaTitle: "",
    }
  },
  mounted() {
    try {
      this.sepiaTitle = Browser.i18n.getMessage(
        appState.settings.app.isEnabled ? "enableExtension" : "disableExtension",
      )
    } catch (e: any) {
      error(e)
    }
  },
  methods: {
    toggleTitle() {
      try {
        return appState.settings.app.isEnabled
          ? Browser.i18n.getMessage("disableExtension")
          : Browser.i18n.getMessage("enableExtension")
      } catch (e: any) {
        error(e)
      }
    },
    async toggleApp() {
      await App.toggle()
      appState.settings.app.isEnabled = !appState.settings.app.isEnabled
    },
  },
})
</script>

<style scoped>
.sepia {
  display: block;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  background-image: url("../assets/icons/sepia.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.grayscale {
  filter: grayscale(1);
}
</style>
