<template>
  <font-awesome-icon
    :icon="['fa', 'gear']"
    size="xl"
    :title="settingsTitle"
    @click="openSettings"
  />
</template>

<script lang="ts">
import { library } from "@fortawesome/fontawesome-svg-core"
import { faGear } from "@fortawesome/free-solid-svg-icons"
import { defineComponent } from "vue"
import Browser from "webextension-polyfill"
import { error } from "../lib/utils"

library.add(faGear)

export default defineComponent({
  data() {
    return {
      settingsTitle: Browser.i18n.getMessage("settings"),
    }
  },
  methods: {
    async openSettings() {
      try {
        await Browser.runtime.openOptionsPage()
        window.close() // close the popup
      } catch (e: any) {
        error(e)
      }
    },
  },
})
</script>
