<template>
  <button
    :class="[{ disable: !appState.settings.app.isEnabled, loading: isLoading }]"
    type="button"
    :disabled="isLoading"
  >
    {{ value }}
  </button>
</template>

<script lang="ts">
import { appState } from "../../sharedReactives"
import { defineComponent } from "vue"

export default defineComponent({
  props: {
    value: String,
    isLoading: Boolean,
  },
  data() {
    return {
      appState,
    }
  },
})
</script>

<style scoped>
@import "../../assets/css/variables.css";

button {
  background-color: var(--ptc-mainBackgroundColor);
  color: var(--ptc-mainForegroundColor);
  border: 0.0625rem solid var(--ptc-popperBorderColor);
  border-radius: 0.1875rem;
  font-size: 1rem;
  height: 2rem;
  font-weight: 600;
  cursor: pointer;
  padding: 0 0.75rem;
  text-align: center;
  line-height: normal;
}

button:hover {
  border-color: var(--ptc-mainHoverColor);
}

button:active {
  background-color: var(--ptc-mainHoverColor);
}

button.disable {
  color: var(--ptc-gray);
  background-color: var(--ptc-mainDisableColor);
}

button.disable:hover {
  border-color: var(--ptc-popperBorderColor);
  cursor: default;
}

.loading:not(.disable) {
  background-color: var(--ptc-mainHoverColor);
  border-color: var(--ptc-lightOrange);
  cursor: wait;
}
</style>
