<template>
  <div :class="[{ disable: !appState.settings.app.isEnabled }, 'containerLabel']">
    <label :for="forId">
      {{ value }}
    </label>
    <HelpButton v-if="helpContent" :content="helpContent" />
  </div>
</template>

<script lang="ts">
import { appState } from "../../sharedReactives"
import { defineComponent } from "vue"
import HelpButton from "./HelpButton.vue"

export default defineComponent({
  components: { HelpButton },
  props: {
    value: String,
    helpContent: String,
    forId: String,
  },
  data() {
    return {
      appState,
    }
  },
})
</script>

<style scoped>
@import "../../assets/css/variables.css";

label {
  padding: 0;
  margin: 0;
}

.containerLabel {
  margin: 0.625rem;
}

.containerLabel:not(.disable) label:hover {
  cursor: pointer;
}

.disable {
  color: var(--ptc-disableForegroundColor);
}
</style>
