<template>
  <fieldset :disabled="!appState.settings.app.isEnabled">
    <legend>{{ legend }}</legend>
    <slot />
  </fieldset>
</template>

<script lang="ts">
import { defineComponent } from "vue"
import { appState } from "../../sharedReactives"

export default defineComponent({
  props: {
    legend: String,
  },
  data() {
    return {
      appState,
    }
  },
})
</script>

<style scoped>
fieldset {
  border: none;
  border-radius: 0;
  border-left: 0.375rem solid var(--ptc-mainFieldsetColor);
  margin-bottom: 2rem;
}

fieldset:disabled {
  border-color: var(--ptc-disableForegroundColor);
}

fieldset:disabled > input,
select,
button > * {
  background-color: var(--ptc-disableBackgroundColor);
}

fieldset legend {
  font-size: 1.125rem;
  margin: auto;
  margin-bottom: 0.625rem;
  font-weight: 700;
  color: var(--ptc-mainFieldsetColor);
}

fieldset:disabled legend {
  color: var(--ptc-disableForegroundColor);
}
</style>
