<template>
  <Popper arrow open-delay="0" close-delay="0">
    <font-awesome-icon
      class="popperButton"
      :icon="['far', 'circle-question']"
      :title="buttonTitle"
    />
    <template #content>
      <div
        :style="{
          maxWidth: 'var(--ptc-popper-theme-max-width)',
          whiteSpace: 'pre-line',
          textAlign: 'justify',
          lineHeight: 1.5,
        }"
      >
        {{ content }}
      </div>
    </template>
  </Popper>
</template>

<script lang="ts">
import { defineComponent } from "vue"
import Popper from "vue3-popper"
import { library } from "@fortawesome/fontawesome-svg-core"
import { faCircleQuestion } from "@fortawesome/free-regular-svg-icons"
import Browser from "webextension-polyfill"

library.add(faCircleQuestion)

export default defineComponent({
  components: { Popper },
  props: {
    content: String,
  },
  data() {
    return {
      isActive: false,
      buttonTitle: Browser.i18n.getMessage("helpButtonTitle"),
    }
  },
})
</script>

<style>
@import "../../assets/css/variables.css";

:root {
  --popper-theme-background-color: var(--ptc-mainBackgroundColor);
  --popper-theme-background-color-hover: var(--ptc-mainBackgroundColor);
  --popper-theme-text-color: var(--ptc-mainForegroundColor);
  --popper-theme-border-width: 0.0625rem;
  --popper-theme-border-style: solid;
  --popper-theme-border-radius: 0.375rem;
  --popper-theme-border-color: var(--ptc-popperBorderColor);
  --popper-theme-padding: 0.625rem;
  --popper-theme-max-width: 50vw;
  --popper-theme-box-shadow: 0 0.375rem 0.625rem -0.375rem var(--ptc-mainShadowColor);
}
</style>

<style scoped>
.popperButton {
  cursor: pointer;
  margin-left: 0.3125rem;
}
</style>
