<template>
  <div
    :class="[
      { disable: id !== 'appEnableToggle' && !appState.settings.app.isEnabled },
      'toggleButton',
    ]"
  >
    <input
      :id="id"
      ref="checkbox"
      :class="[{ disable: id !== 'appEnableToggle' && !appState.settings.app.isEnabled }]"
      type="checkbox"
      :checked="isChecked"
    />
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue"
import { appState } from "../../sharedReactives"

export default defineComponent({
  props: {
    id: String,
    isChecked: Boolean,
  },
  data() {
    return {
      appState,
    }
  },
})
</script>

<style scoped>
@import "../../assets/css/variables.css";

.toggleButton.disable {
  color: var(--ptc-gray);
  cursor: default;
}

.toggleButton input {
  outline: none;
  height: 1rem;
  width: 2rem;
  border-radius: 1rem;
  appearance: none;
  position: relative;
  background: var(--ptc-mainBackgroundColor);
  border: 0.0625rem solid var(--ptc-gray);
  cursor: pointer;
}

.toggleButton input:not(.disable):hover {
  border-color: var(--ptc-mainHoverColor);
}

.toggleButton input.disable {
  background-color: var(--ptc-disableBackgroundColor);
  border-color: var(--ptc-disableBackgroundColor);
  cursor: default;
}

.toggleButton input.disable:checked {
  background-color: var(--ptc-disableBackgroundColor);
  color: var(--ptc-gray);
}
.toggleButton input:checked {
  background: var(--ptc-mainHoverColor);
}
.toggleButton input:before {
  position: absolute;
  content: "";
  left: 0;
  height: 100%;
  width: 1rem;
  background: var(--ptc-mainForegroundColor);
  border-radius: 1rem;
  transform: scale(0.85);
  transition: left 0.1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
input:checked:before {
  left: 0.875rem;
}
</style>
