<template>
  <input
    :class="{ disable: !appState.settings.app.isEnabled }"
    type="url"
    :placeholder="placeholder"
    :value="value"
  />
</template>

<script lang="ts">
import { defineComponent } from "vue"
import { appState } from "../../sharedReactives"

export default defineComponent({
  props: {
    placeholder: String,
    value: String,
  },
  data() {
    return {
      appState,
    }
  },
})
</script>

<style scoped>
@import "../../assets/css/variables.css";

input[type="url"] {
  background-color: var(--ptc-mainBackgroundColor);
  color: var(--ptc-mainForegroundColor);
  border: 1px solid var(--ptc-gray);
  font-size: 1rem;
  border-radius: 0.25rem;
  line-height: 1.5;
  height: min-content;
}

input[type="url"]:not(.disable):hover {
  border-color: var(--ptc-mainHoverColor);
}
input[type="url"]:not(.disable):focus {
  border-color: var(--ptc-mainHoverColor);
  outline: none;
}

input[type="url"].disable {
  background-color: var(--ptc-disableBackgroundColor);
  color: var(--ptc-disableForegroundColor);
}
</style>
